@{
  Layout = "_Layout";
}

<div class="row">
  <div class="col-lg-6">
    <form action="/author-search-results" method="post">
    <div class="input-group">

      <span class="input-group-btn">
      <button class="btn btn-default" type="button">Go!</button>
      </span>
      <input type="text" class="form-control" name="author-search" placeholder="Search for author">
        </form>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<div class="page-header">
  <h1>Authors</h1>
</div>

@foreach(var author in Model)
{
  <div class="panel panel-info">
    <div class="panel-heading">
      <form action="/authors/@author.GetId()/deleted" method="post">
      <h3 class="panel-title">@author.GetName()<button type="submit" class="btn btn-danger delete">X</button></h3>
      </form>
    </div>
      <ul class="list-group">
      <h4 class="panel-body">Books</h4>
      @foreach(var book in author.GetBooks())
      {
        <li class="list-group-item">@book.GetTitle()</li>
      }
      </ul>
  </div>
}
