<a href="/authors"><button type="button" class="btn btn-success" name="button">View Authors</button></a>

<a href="/books"><button type="button" class="btn btn-success" name="button">View Books</button></a>

<a href="/bookForm"><button type="button" class="btn btn-success" name="button">Add Book</button></a>

<a href="/authorForm"><button type="button" class="btn btn-success" name="button">Add Author</button></a>

<a href="/patronForm"><button type="button" class="btn btn-success" name="button">Add Patron</button></a>

<a href="/patrons"><button type="button" class="btn btn-success" name="button">View patrons</button></a>

<a href="/"><button type="button" name="button" class="btn btn-warning">Home</button></a>

<br>
<br>
